<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <h3 class="" style="margin-bottom: 5px;">Listado etiquetas</h3> &nbsp;&nbsp;
            <a class="btn btn-info btn-sm" [routerLink]="['/tag']"> Agregar</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let tag of tagsList">
                <tr>
                  <td> {{ tag.name }} </td>
                  <td> {{ tag.projectName }} </td>
                  <td>
                    <a class="btn btn-primary btn-sm fas fa-pencil-alt" title="Editar"
                      [routerLink]="['/tag/', tag.idtag, 'edit']"> </a>
                    <button class="btn btn-danger btn-sm far fa-trash-alt" title="Eliminar"
                      (click)="delete(tag.idTag)"></button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>