<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row justify-content-md-center">
    <div class="col-10">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Crear Proyecto</h3>
        </div>
        <div class="card-body">
          <!-- Form groups used in grid -->
          <form role="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Nombre</label>
                  <input type="text" class="form-control" name="name" placeholder="Nombre del proyecto"
                    [(ngModel)]="form.name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Fecha de inicio</label>
                  <input type="date" class="form-control" name="startdate" [(ngModel)]="form.startdate">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label">Fecha Fin</label>
                  <input type="date" class="form-control" name="enddate" [(ngModel)]="form.enddate">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Descripción</label>
                  <textarea [(ngModel)]="form.description" class="form-control" name="description" cols="30" rows="10"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="text-right">
                  <a class="btn btn-danger mt-4" [routerLink]="['/projects']">Cancelar</a>
                  <button type="submit" class="btn btn-primary mt-4">Crear</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>